<section class="relative flex content-center min-h-screen-75">
  <div class="container relative mx-auto">
    <div class="parent-container items-center flex flex-wrap text-white">
      <div class="leftside w-half lg:w-6/12 px-4 ml-auto mr-auto text-left lg:text-left">
        <app-service-card [paragraphs]="[
          'public Class Services',
          ' &emsp;&emsp;public Services_I_Offer()',
          ' &emsp;&emsp; &emsp;&emsp; Web Development',
          ' &emsp;&emsp; &emsp;&emsp; Mobile App Development',
          ' &emsp;&emsp; &emsp;&emsp; Software Development',
          ' &emsp;&emsp; &emsp;&emsp; E-commerce Development',
          ' &emsp;&emsp; &emsp;&emsp; Consultation and Support',
          ' &emsp;&emsp; &emsp;&emsp; Online Coding Classes',
          ' &emsp;&emsp; &emsp;&emsp; Automation Services'
        ]"></app-service-card>
      </div>
      <div class="rightside w-half lg:w-6/12 ml-auto mr-auto ">
        <div class="slidercontainer">
          <div class="slide" *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex"
            [style.backgroundImage]="'url(' + image + ')'" (click)="onSlideClick()">
          </div>
        </div>
        <div class="blur-color F25BOLD center-when-mobile">
          <img class="emulator-img ml-auto block" src="../../../assets/img/phone_emulator.png"
            style="background-color: rgb(43, 43, 43) !important; box-shadow: 0 0 20px 25px ;">
        </div>
      </div>
    </div>
  </div>
</section>