<section class="relative pt-16  flex content-center items-center justify-center min-h-screen-75">
  <div class="container relative mx-auto">
    <div class="parent-container items-center flex flex-wrap text-white">
      <div class="leftside w-half lg:w-6/12 px-4 ml-auto mr-auto text-left lg:text-left">
        <div class="flex flex-col items-center rounded-lg p-4">
          <div class="center-when-mobile"
            style="background-color: black; box-shadow: 0 0 20px 25px black;">
            {{ displayedText }}
          </div>
          <button style="line-height: 0px; height: 43px;"
            class="bg-black font-semibold hover:text-white mt-10 py-2 px-4 border border-white hover:border-transparent rounded w-half">
            Get Started
          </button>
        </div>
      </div>
      <div class="rightside w-half lg:w-6/12 ml-auto mr-auto lg:text-right -mt-10 lg:mt-0">
        <div class="pr-12 text-white F25BOLD center-when-mobile" style="font-family: ElectroBox;">
          <h2 class="mt-4 text-3xl lg:text-5xl font-medium">
            Sheev Patel
          </h2>
          <h1 class="mt-4 text-5xl font-bold" style="font-size: 5rem;">
            Software Developer
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>