/* Add application styles & imports to this file! */
@import 'swiper/swiper-bundle.min.css';
@import 'swiper/swiper.min.css';

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  color: #000;
  text-align: center;
}

canvas.tsparticles-canvas-el {
  opacity: 0;
  animation: fadeInCanvas 4s ease-in forwards;
  animation-delay: 1s; /* Wait 1s before starting fade-in */
}

@keyframes fadeInCanvas {
  to {
    opacity: 0.5; /* Final opacity */
  }
}

/* Terminal Path Styling */
.terminal-path {
  font-family: 'Courier New', monospace;
}