/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import 'swiper/swiper-bundle.min.css';
@import 'swiper/swiper.min.css';

@font-face {
  font-family: F25;
  src: url(assets/fonts/F25_Bank_Printer.ttf) format("truetype");
}

@font-face {
  font-family: F25BOLD;
  src: url(assets/fonts/F25_Bank_Printer_Bold.ttf) format("truetype");
}

@font-face {
  font-family: ElectroBox;
  src: url(assets/fonts/eElectroBox.ttf) format("truetype");
}

.ElectroBox {
  font-family: ElectroBox;
}

.F25 {
  font-family: F25;
}

.F25BOLD {
  font-family: F25BOLD;
}

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  color: #000;
  text-align: center;
}

/* Mobile Layout Adjustments */
@media (max-width: 768px) {
  .center-when-mobile {
    padding-right: unset !important;
    text-align: center;
  }
}
