<app-header></app-header>
<main class="main_container">
    <ng-particles [id]="id" [options]="particleOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"></ng-particles>
    <div *ngIf="isMobile">
        <swiper
            #swiperRef
            direction="horizontal"
            (slideChange)="onSlideChange($event)"
        >
            <ng-template *ngFor="let section of mobileSections" swiperSlide>
            <ng-container *ngComponentOutlet="section"></ng-container>
            </ng-template>
      </swiper>
    </div>
    <div *ngIf="!isMobile">
        <app-home></app-home>
        <app-about></app-about>
        <app-portfolio></app-portfolio>
        <app-contact></app-contact>
    </div>
</main>


<router-outlet></router-outlet>